<?xml version="1.0" encoding="utf-8"?>
<manifest package="lol.niconico.testapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="${APP_NAME}"
        android:icon="${APP_LOGO}"
        android:supportsRtl="true"
        android:name=".app.ReactApp"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.IReactNativeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.CommonWebActivity"/>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>